/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #03001C;
  padding: 15px 10px;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

a:link {
  color: white;
}

/* Creates the header background */
.color {
  background-color: #03001C;
  height: 700px;
}

/* Style the header links */
.active {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the text color on mouse-over */
.header a:hover {
  color: #d7c3f3;
}

/* Changes the background color */
.background {
  background-color: #03001C;
}

/* Bolds the title */
.logo {
  font-size: 23px;
  font-weight: 600;
}

/* Styling table */
table, th, td {
  border: 1px solid;
}

.dataTable {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.dataTable tr {
  background-color: #0b073f;
}

.dataTable td, .dataTable tr, .dataTable th {
  padding: 8px;
  color: white;
}

.dataTable th, .dataTable td {
  border: 1px solid white
}

.dataTable tr:nth-child(even){background-color: #0c054e;}

.dataTable tr:hover {background-color: #231e51;}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #05012b;
  color: white;
}

.header a.active-page  {
  background-color:#19106c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.subHeading {
  text-decoration: inherit;
  font-size: 1.2em;
}

.subHeading:visited {
  color: inherit;
  text-decoration: none;
 }

.subHeading:hover {
  color: rgb(217, 208, 255);
}